<div class="row">
    <div class="col-md-4">
        <div class="img-home" id="img-about">
            <div class="img-home-overlay">
                <span class="img-home-text">About Me</span>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="img-home" id="img-projects">
            <div class="img-home-overlay">
                <span class="img-home-text">Projects</span>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="img-home" id="img-exp">
            <div class="img-home-overlay">
                <span class="img-home-text">Resume</span>
            </div>
        </div>
    </div>
</div>