@import url(https://fonts.googleapis.com/css?family=Cabin:400,500);

.center-block {
    float: none;
}

footer {
    margin-top: 5em;
    font-size: .75em;
}

#img-about {
    background: url('../img/me.png');
}

#img-projects {
    background: url('../img/code.png');
}

#img-exp {
    background: url('../img/uw.png');
}

.img-home {
    width: 256px;
    height: 256px;
    margin: 5% auto 0 auto;
    background-size: cover;
    overflow: hidden;
    border-radius: 50%
}

.img-home-overlay {
    background:rgba(0,0,0,.75);
    text-align:center;
    padding:110px 0 110px 0;
    opacity:1;
    -webkit-transition: opacity .25s ease;
    -moz-transition: opacity .25s ease;
    border-radius: 50%
}

.img-home:hover .img-home-overlay {
    background:rgba(0,0,0,.5);
    opacity:.5;
}

.img-home-text {
    font-weight:500;
    color:rgba(255,255,255,.85);
    font-size:25px;
    border-radius: 50%
}

body {
    padding-top: 80px;
    font-family: Cabin, sans-serif;
}
@media screen and (max-width: 768px) {
    body { padding-top: 40px; }
}
